<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="myTable">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Country</th>
                <th>Country Code</th>
                <th>Phone Number</th>
                <th>Valid</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer: ${listOfCustomers}">
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.countryName}"></td>
                <td th:text="${customer.countryCode}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.valid}"></td>
            </tr>
        </tbody>
    </div>
</body>
</html>